.w-23p {
    width: 23%;
}

.w-100p {
    width: 100%;
}

.min-h-0 {
    min-height: 0vh;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.mt-0 {
    margin-top: 0;
}

.pointer {
    cursor: pointer;
}

.history-select:hover {
    border-bottom: 1px solid #4ae3c0;
}

.color-gray {
    color: gray;
}

.bg-color-2a3c50 {
    background: #2a3c50;
}
